.gcard-content {
  padding: 0px 0px 20px 20px !important;
}

.sidebar {
  border-right: 1px solid #e0e0e0;
}
.sidebar-open {
  width: 12rem;
}

.sidebar-close {
  width: 5rem;
}

.sidebar-collapse-icon {
  padding-top: 25px;
  position: relative
}