.gcard-content {
  padding: 0px 0px 20px 20px !important;
}

.sidebar {
  border-right: 2px solid #eee;
}
.sidebar-open {
  width: 14rem;
}

.sidebar-close {
  width: 5rem;
}

.sidebar-collapse-icon {
  padding-top: 25px;
  position: relative
}

.driver-tab-active {
  border-bottom: 2px solid #37474f;
  font-weight: 500;
  color: #37474f
}

.margin-auto {
  margin-top: auto;
}